﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="pages_menu.ascx.cs" Inherits="manage_pages.pages_menu" %>

<asp:SqlDataSource runat="server" ID="page_list_pick" ConnectionString="<%$ ConnectionStrings:finalproject_sql_con %>">

</asp:SqlDataSource>



<ul id="nav_menu" runat="server" class="nav navbar-nav"></ul>